.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.image {
  width: 100vw;
  height: auto;
}

.arrow {
  z-index: 10;
  cursor: pointer;
  user-select: none;
  position: absolute;
  top: 50%;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.4);
}

.arrow:hover {
  transition: 600ms;
  color: #fff;
  cursor: pointer;
}

.right-arrow {
  right: 10%;
}

.left-arrow {
  left: 10%;
}

.slide {
  opacity: 0;
  /* transition: all 0.5s ease-in-out; */
}

.slide.active {
  opacity: 1;
  transition: all 0.5s ease-out;
}
