.slider {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    width: 100vw;
    height: auto;
  }
  
  .right-arrow {
    position: absolute;
    top: 50%;
    right: 10%;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .left-arrow {
    position: absolute;
    top: 50%;
    left: 10%;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }

  .slide.active {
    display: block;
  }

  .slide {
    display: none;
}